.slider {
  background-color: rgba(0, 0, 0, 0.274);
  color: #fff;
  position: relative;
}

.slider__container {
  display: flex;
  justify-content: space-around;
  border-radius: 13px;
  overflow: hidden;
  position: relative;
}

.slider__container img {
  height: 300px;
  width: 550px;
  border-radius: 13px;
  transition: opacity 0.5s ease-in-out;
}

.slider__title-main {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  font-size: 50px;
  font-weight: 900;
}

.prev-button,
.next-button {
  background-color: rgba(0, 255, 255, 0);
  color: rgb(255, 255, 255);
  font-size: 50px;
  border: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 300px;
  cursor: pointer;
}

.prev-button {
  left: 1090px;
  top: -15px;
}

.next-button {
  right: 210px;
  top: -15px;
}

.slidertext__container {
  width: 500px;
  height: 300px;
  padding: 5px;
}

.slidertext__container-title {
  padding-bottom: 30px;
  font-size: 30px;
}

.slidertext__container-subtitle {
  font-size: 20px;
}

@media (max-width: 425px) {
  .slider {
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    height: auto;
  }

  .slider__container {
    flex-direction: column;
    align-items: center;
  }

  .slider__container img {
    width: 100%;
    height: auto;
    height: 200px;
    margin-bottom: 20px;
  }

  .slider__title-main {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .prev-button,
  .next-button {
    font-size: 30px;
    width: 30px;
    height: 30px;
    bottom: 190px;
    color: #ffffff;
  }

  .prev-button {
    left: 10px;
    top: auto;
  }

  .next-button {
    right: 10px;
    top: auto;
  }

  .slidertext__container {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .slidertext__container-title {
    padding-bottom: 15px;
    font-size: 24px;
  }

  .slidertext__container-subtitle {
    font-size: 18px;
  }
}
