* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(51, 51, 51, 0.9);
  height: 80px;
}

.navbar__logo {
  width: 75px;
  height: 75px;
  transition: transform 0.3s ease;
}

.navbar__logo:hover {
  transform: scale(1.1);
}

.navbar__logo-img {
  width: 75px;
  height: 75px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #646464;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
  margin-left: auto;
}

.navbar-toggle .bar {
  height: 3px;
  width: 25px;
  margin: 4px 0;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar-toggle.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.navbar-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu-text {
  transition: color 0.7s ease;
}

.navbar-menu-text:hover {
  color: #757575;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.navbar-menu li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #767676;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.navbar-menu li a:hover::after {
  width: 100%;
}

@media (max-width: 450px) {
  .navbar-toggle {
    display: flex;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(51, 51, 51);
    position: absolute;
    top: 100px;
    right: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .navbar-menu.active {
    display: flex;
    z-index: 1;
    opacity: 1;
    transform: translateX(0);
  }
  .navbar-menu li {
    margin: 0;
    padding: 15px 20px;
    text-align: center;
  }
  .navbar-menu li a::after {
    display: none;
  }
}
.navbar-username {
  font-weight: bold;
  color: #ffffff;
  margin-right: 15px;
  font-size: 16px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-username:hover {
  background-color: rgba(255, 255, 255, 0.2);
}